/target
/out
scripts/ablation/output/*
scripts/eqsat-sound/output/*
scripts/herbie-float/output/*
scripts/herbie-rational/output/*
Cargo.lock
.DS_Store
out/
*.txt
*.pdf
*.bak
*.dep
*.zo
*.json
.vscode/
!scripts/ablation/submitted-plots/*.pdf
!scripts/ablation/submitted-plots/*.json
