name: Tests

on: [push]

env:
  RUST_BACKTRACE: full

jobs:
  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - run: rustup component add rustfmt
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - run: rustup component add clippy
      - uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: -- -D warnings

  unit:
    name: "Unit Tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main

      - name: Install Rust compiler
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            default: true
            override: true
            components: rustfmt, clippy

      - uses: Swatinem/rust-cache@v1

      - name: "Build"
        run: cargo build --release

      - name: "Setup tests"
        run: mkdir -p out/  

      - name: "Unit tests"
        run: cargo test --release

  regression:
    name: "Regression Tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main

      - name: Install Rust compiler
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            default: true
            override: true
            components: rustfmt, clippy

      - uses: Swatinem/rust-cache@v1

      - name: "Build"
        run: cargo build --release

      - name: "Setup tests"
        run: mkdir -p out/          

      - name: "Synthesize rational rules"
        run: |
          cargo rational --workload tests/workloads/rat-atoms3.terms --outfile out/rat3.json
          cargo rational --workload tests/workloads/rat-atoms5.terms --prior-rules out/rat3.json --outfile out/rat5.json
          cargo rational --workload tests/workloads/rat-canon.terms --prior-rules out/rat5.json --outfile out/rat-canon.json
          cargo run --release --bin rational derive out/rat-canon.json tests/rat.json --ci  --outfile out/rat-derive.json

      - name: "Synthesize bv4 rules"
        run: |
          cargo bv4 --workload tests/workloads/bv4-atoms3.terms --outfile out/bv43.json
          cargo bv4 --workload tests/workloads/bv4-atoms5.terms --prior-rules out/bv43.json --outfile out/bv45.json
          cargo run --release --bin bv4 derive out/bv45.json tests/bv4.json --ci --outfile out/bv4-derive.json

      # - name: "Synthesize bv32 rules"
      #   run: |
      #     cargo bv32 --iters 2 --variables 3 --outfile out/bv32.json
      #     cargo run --release --bin bv32 derive --ci out/bv32.json tests/bv32.json out/bv32-derive.json

      # - name: "Synthesize real rules from rational rules (rule lifting)"
      #   run: |
      #     cargo real-rat --iters 2 --variables 3 --no-constants-above-iter 1 --prior-rules out/rat.json --outfile out/real.json
      #     cargo run --release --bin real-rat derive --ci --only-new out/real.json tests/real.json out/real-derive.json

      # - name: "Synthesize bv2 rules from bool rules (rule lifting)"
      #   run: |
      #     cargo bool --iters 2 --variables 3 --outfile out/bool.json
      #     cargo bv-bool --iters 2 --variables 3 --prior-rules out/bool.json --outfile out/bv2-bool.json
      #     cargo run --release --bin bv-bool derive --ci out/bv2-bool.json tests/bv2-bool.json out/bv2-derive.json

      # Need to filter out rational rules from real.json
      # - name: "Synthesize complex rules from real rules (rule lifting, no constants)"
      #   run: cargo complex-real --iters 2 --variables 3 --no-constants-above-iter 0 --prior-rules real.json --outfile complex.json
